<div class="row tc">
    <h3>
  Photo Listing View
    </h3>
</div>

<div class="box tc">
    <div *ngFor="let photo of photo_list">
        <img class="image" [src]="photo.url">
        <h5>{{photo.title}}</h5>
        <h5>{{photo.id}}</h5>
        <a href="{{photo.url}}">{{photo.url}}</a>
        <br><br>
        <span>
            <button mat-stroked-button color="primary" class="clr" *ngIf="!photo.is_compare"
             (click)="compare(photo)">Compare</button>
            <button mat-stroked-button color="primary" class="red-clr" *ngIf="photo.is_compare"
            (click)="remove(photo)" >Remove</button>
        </span>
    </div>
  </div>

<div class="row tc">
    <h3>
  Comparioson Table
    </h3>
</div>

<div class="photo-table">
    <table mat-table [dataSource]="dataSource" class="">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="mx-wid">  </th>
          <td mat-cell *matCellDef="let element" class="mx-wid"> 
            <img class="tab-image" [src]="element.url">
          </td>
        </ng-container>
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <ng-container matColumnDef="thumb">
            <th mat-header-cell *matHeaderCellDef> Thumbnail URL </th>
            <td mat-cell *matCellDef="let element"> 
                <a href="{{element.thumbnailUrl}}">{{element.thumbnailUrl}}</a> 
            </td>
          </ng-container>
      
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>